
<nav>
  <form method="get" action="/{{serviceName}}/viewer" id="filter-form">
    <fieldset>
      <select name="tag" data-auto-submit>
        {{#each tags}}
          <option value="{{this.name}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
        {{/each}}
      </select>

      <input name="search" type="text" value="{{search}}" id="text-search-field">
    </fieldset>

    <fieldset>
      <input name="startDate" type="date" value="{{startDate}}" data-auto-submit>
      <input name="endDate" type="date" value="{{endDate}}" data-auto-submit>

      <select name="levels" data-auto-submit>
        <option value="all" {{#if levelsAll}} selected {{/if}}>all</option>
        <option value="error-warning" {{#if levelsErrorWarning}} selected {{/if}}>error + warning</option>
        <option value="error" {{#if levelsError}} selected {{/if}}>error</option>
      </select>

      <select name="pageSize" data-auto-submit>
        <option value="100" {{#if pageSize100}} selected {{/if}}>100</option>
        <option value="1000" {{#if pageSize1000}} selected {{/if}}>1000</option>
        <option value="10000" {{#if pageSize10000}} selected {{/if}}>10000</option>
      </select>

      <select name="page" {{#unless pages.length}} disabled {{/unless}} data-auto-submit>
        {{#each pages}}
          <option value="{{this.pageIndex}}" {{#if this.selected}} selected {{/if}}>{{this.pageName}}</option>
        {{/each}}
      </select>

      <button type="submit">Search</button>
    </fieldset>
  </form>
</nav>

<main>
  <div>
    <table>
      {{#each entries}}
        <tr>
          <td class="tag">{{this.tag}}</td>
          <td class="time">{{this.time}}</td>
          <td class="level">{{this.data.level}}</td>
          <td class="message">{{this.data.message}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</main>
