<dialog id="merge-authors-dialog">
  <form>
    <button class="icon close-icon" value="cancel" formmethod="dialog">
      <img src="/static/cross.svg">
    </button>

    <h3>Merge Authors</h3>
    <div class="merge-area">
      {{#each matchedMembers as |contributorList memberName|}}
        <div class="member-group" data-member-name="{{memberName}}">
          <div class="member-name">{{memberName}}</div>
          <div class="contributors">
            {{#if contributorList.length}}
            {{#each this}}
              <div class="contributor" draggable="true" id="modal-contributor-{{email}}" data-email="{{email}}" data-author-name="{{authorName}}">
                <span class="contributor-author">{{authorName}}</span>
                <span class="contributor-email">{{email}}</span>
                <span class="drag-handle">☰</span>
              </div>
            {{/each}}
            {{else}}
              <div class="contributor" data-drop-area>
                <span>Drop contributor here</span>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div>
      <button class="confirm" value="default" type="button">Confirm</button>
    </div>
  </form>
</dialog>

