<dialog id="milestones-dialog">
  <form>
    <button class="icon close-icon" value="cancel" formmethod="dialog">
      <img src="/static/cross.svg">
    </button>

    <h3>Edit Milestones</h3>
    <button class="icon" id="add-milestone-button" type="button">
        <img src="/static/plus-circle.svg">
      </button>
    </div>
    <fieldset>
      <table>     
        {{#each milestones as |milestone|}}
          {{#if milestone.isCustom}}
            <tr data-title="{{milestone.title}}" data-due-date="{{milestone.due_date}}" data-is-custom="" >
              <td>
                <input type="text" placeholder="Name" value="{{milestone.title}}">
              </td>
              <td>
                <input type="date" value="{{milestone.due_date}}">
              </td>
              <td>
                <button type="button" class="icon">
                  <img src="/static/cross.svg">
                </button>
              </td>
            </tr>
          {{else}}
            <tr data-title="{{milestone.title}}" data-due-date="{{milestone.due_date}}" >
              <td>{{milestone.title}}</td>
              <td>{{formatDate milestone.due_date}}</td>
            </tr>
          {{/if}}
        {{/each}}
      </table>
    </fieldset>

    <div>
      <button class="confirm" value="default" type="button">Confirm</button>
    </div>
  </form>
</dialog>

