
<div class="dashboard-layout">
  <nav class="dashboard">
    <div class="buttons">
      <a class="icon" href="/repos">
        <img src="/static/arrow-left-circle.svg">
      </a>
      <a class="icon" href="/dashboard/{{repoUuid}}/settings">
        <img src="/static/settings.svg">
      </a>
      <div class="spacer"></div>
      <button class="icon" id="collapse-nav-button">
        <img class="hide-icon" src="/static/sidebar-hide.svg">
        <img class="show-icon" src="/static/sidebar-show.svg">
      </button>
    </div>

    <div class="title">
      <h1>{{repoName}}</h1>
    </div>

    <section>
      <select id="visualization-selector">
        {{#each visualizations as |vis|}}
          <option value="{{vis.name}}" data-frame-url="{{addRepoUuidSearchParam vis.frameUrl}}" > {{vis.displayName}} </option>
        {{/each}}
      </select>
    </section>

    <section>
      <form id="common-controls">
        <div id="authors-section">
          <h2>Contributors</h2>
          <div>
            <label>
              <input type="checkbox" id="toggle-empty-members">
              Show Empty Members
            </label>
          </div>
          <div id="author-list">
          {{#each matchedMembers}}
            <div class="member-group" {{#unless this.length}}hidden{{/unless}}>
              <div class="member-name">{{@key}}</div>
              {{#each this}}
                <div class="contributor">
                  <span>{{authorName}}</span>
                  <span>{{email}}</span>
                </div>
              {{/each}}
            </div>
          {{/each}}
          </div>
        </div>

          {{> merge-modal }}
        <button type="button" name="merge-authors-button" id="merge-authors-button">Merge Authors</button>
      </form>
    </section>

    <section>
      <form id="custom-controls"></form>
    </section>
  </nav>

  <main class="dashboard">
    <iframe id="content-frame" src="{{addRepoUuidSearchParam defaultVisualization.frameUrl}}"></iframe>
  </main>
</div>

