
<div class="dashboard-layout">
  <nav class="dashboard">
    <div class="buttons">
      <a href="/repos">
        <img src="/static/arrow-left-circle.svg">
      </a>
      <a href="/dashboard/{{repoUuid}}/settings">
        <img src="/static/settings.svg">
      </a>
      <div class="spacer"></div>
      <button id="collapse-nav-button">
        <img class="hide-icon" src="/static/sidebar-hide.svg">
        <img class="show-icon" src="/static/sidebar-show.svg">
      </button>
    </div>

    <div class="title">
      <h1>{{repoName}}</h1>
    </div>

    <section>
      <select id="visualization-selector">
        {{#each visualizations as |vis|}}
          <option value="{{vis.name}}" data-frame-url="{{addRepoUuidSearchParam vis.frameUrl}}" > {{vis.displayName}} </option>
        {{/each}}
      </select>
    </section>

    <section>
      <form id="common-controls"></form>
    </section>

    <section>
      <form id="custom-controls"></form>
    </section>
  </nav>

  <main class="dashboard">
    <iframe id="content-frame" src="{{addRepoUuidSearchParam defaultVisualization.frameUrl}}"></iframe>
  </main>
</div>

