
{{#*inline "repoItem"}}
  <section>
    {{repoKind}}
    <ul>
      {{#each repos as |repo|}}
        <li {{#unless repo.active}} class="inactive" {{/unless}}>
          <div>
            <span class="color-circle" style="background-color: {{repo.color}}"></span>
          </div>
          <div class="name">
            <a href="/dashboard/{{ repo.uuid }}">{{repo.name}}</a>
          </div>
          <div class="settings-link">
            <a href="/dashboard/{{ repo.uuid }}/settings">⚙️</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
{{/inline}}

<nav class="top-nav">
  <span>{{ chooseTruthy user.preferred_username user.name 'User' }}</span>
  <a href="/logout">Logout</a>
</nav>

<main class="repos">
  <div class="wrapper">
    <h1>Repos</h1>

    {{> repoItem repos=favoriteRepos repoKind="Favorites"}}

    {{> repoItem repos=activeRepos repoKind="Active"}}
    
    {{> repoItem repos=inactiveRepos repoKind="Inactive"}}

  </div>
</main>
