
<nav class="top-nav">
  <a href="/repos">Repos</a>
  <div class="spacer"></div>
  <span>{{ chooseTruthy user.preferred_username user.name 'User' }}</span>
  <a href="/logout">Logout</a>
</nav>

<main class="status">
  <section>
    <h1>System Status</h1>
  </section>
  <section class="visualizations">
    <h2>Visualization Services</h2>
    <table>
      {{#each visualizations as |vis visServiceId|}}
        <tr>
          <td class="service-id">{{visServiceId}}</td>
          <td>{{vis.hostname}}</td>
          <td>
            {{#if vis.healthy}}
              <span title="healthy">✅</span>
            {{else}}
              <span title="unhealthy">❌</span>
            {{/if}}
          </td>
          <td>
            <ul>
              {{#each vis.data.visualizations as |v|}}
                <li>{{v.displayName}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
      {{/each}}
    </table>
  </section>
  <section class="cleanup">
    <h2>Re-Import</h2>
    <fieldset>
      <input type="hidden" name="csrfToken" value="{{csrfToken}}">

      <div>
        <div class="description">Delete the data of all active repositories and import them again now</div>
        <div class="control">
          <button id="reimport-button">Re-Import</button>
        </div>
      </div>
    </fieldset>
  </section>
  <section class="logs">
    <h2>Logs</h2>
    <div id="logs-frame">
      <iframe src="/logs/viewer"></iframe>
    </div>
  </section>
</main>
